USE [master]
GO
/****** Object:  Database [dormitoryManagerBD]    Script Date: 06.05.2023 14:10:05 ******/
CREATE DATABASE [dormitoryManagerBD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dormitoryManagerBD', FILENAME = N'D:\tvorchestvo\programirovaniye\SQL\Serves\myServiceBD\dormitoryManagerBD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dormitoryManagerBD_log', FILENAME = N'D:\tvorchestvo\programirovaniye\SQL\Serves\logsBDjorney\dormitoryManagerBD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dormitoryManagerBD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dormitoryManagerBD]
GO
/****** Object:  Table [dbo].[Login]    Script Date: 06.05.2023 14:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login](
	[ID_Login] [int] IDENTITY(1,1) NOT NULL,
	[LoginName] [nvarchar](30) NULL,
	[Password] [nvarchar](20) NULL,
	[Role] [int] NULL,
 CONSTRAINT [PK_Login] PRIMARY KEY CLUSTERED 
(
	[ID_Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Receipt]    Script Date: 06.05.2023 14:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Receipt](
	[ID_Receipt] [int] IDENTITY(1,1) NOT NULL,
	[TenantReceipt] [int] NULL,
	[PayLiving] [money] NULL,
	[PayAddService] [money] NULL,
	[DataPay] [date] NULL,
 CONSTRAINT [PK_Receipt1] PRIMARY KEY CLUSTERED 
(
	[ID_Receipt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tenant]    Script Date: 06.05.2023 14:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tenant](
	[ID_Tenant] [int] IDENTITY(1,1) NOT NULL,
	[FullNameTenant] [nvarchar](50) NULL,
	[RoomTenant] [int] NULL,
	[Phone] [int] NULL,
	[Email] [nvarchar](50) NULL,
	[DateChecin] [date] NULL,
	[DateEviction] [date] NULL,
 CONSTRAINT [PK_Tenant] PRIMARY KEY CLUSTERED 
(
	[ID_Tenant] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 06.05.2023 14:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID_User] [int] IDENTITY(1,1) NOT NULL,
	[FullNameUser] [nvarchar](100) NULL,
	[LoginUser] [int] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[ID_User] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Receipt]  WITH CHECK ADD  CONSTRAINT [FK_Receipt1_Tenant] FOREIGN KEY([TenantReceipt])
REFERENCES [dbo].[Tenant] ([ID_Tenant])
GO
ALTER TABLE [dbo].[Receipt] CHECK CONSTRAINT [FK_Receipt1_Tenant]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Login] FOREIGN KEY([LoginUser])
REFERENCES [dbo].[Login] ([ID_Login])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Login]
GO
USE [master]
GO
